.deck {
  display: flex;
  gap: 0.5rem;
  position: relative;
  outline: 1px solid green;
  min-width: calc(var(--card-width) * 2 + 0.5rem);
}

.pick-pile {
  position: relative;
  outline: 1px solid brown;
  width: var(--card-width);
}

.use-pile {
  position: relative;
  width: var(--card-width);
}

.card-wrapper {
  position: absolute;
  top: 0;
  width: var(--card-width);
}
